<html> 
    <header>
        <div class="container">
            <img src="https://i.imgur.com/jCxpBrW.jpeg" alt="Logo.PNG" class="Logo">            
            <nav>
                <ul>
                    <li><a routerLink="/mani-data">Home</a></li>
                    <li><a routerLink="/Test1">Test1</a></li>
                    <li><a routerLink="/Test2">Test2</a></li>
                    <li><a href="#">Test3</a></li>
                    <li><a href="#">Test4</a></li>                                       
                </ul>
            </nav>
        </div>
    </header>
</html>